<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 配置资源映射 -->
    <mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>
    <!-- 配置包扫描器 -->
    <context:component-scan base-package="com.teapot.controller"/>

    <bean id="beetlConfig" class="org.beetl.ext.spring.BeetlGroupUtilConfiguration" init-method="init">
        <property name="configFileResource" value="classpath:properties/beetl.properties"></property>
        <property name="tagFactorys">
            <map>
                <entry key="page" value-ref="pageTagFactory" />
            </map>
        </property>
    </bean>

    <bean name="pageTagFactory" class="org.beetl.ext.spring.SpringBeanTagFactory">
        <property name="name" value="pageTag" />
    </bean>

    <bean id="viewResolver" class="org.beetl.ext.spring.BeetlSpringViewResolver">
        <property name="contentType" value="text/html;charset=UTF-8"></property>
        <!--<property name="prefix" value="/WEB-INF/views/" />-->
        <property name="suffix" value=".html" />
    </bean>
    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/admin/*"/>
            <!--<mvc:exclude-mapping path="/swagger-ui.html" />-->
            <!--<mvc:exclude-mapping path="/app/customer/v1/login" />-->
            <bean class="com.teapot.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/admin/*" />
            <mvc:exclude-mapping path="/admin/login.html" />
            <mvc:exclude-mapping path="/admin/doLogin" />
            <mvc:exclude-mapping path="/admin/rank.html" />
            <bean class="com.teapot.interceptor.AdminInterceptor"></bean>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/customer/rank.html" />
            <bean class="com.teapot.interceptor.WebLoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

<!--    <bean class="springfox.documentation.swagger2.configuration.Swagger2DocumentationConfiguration" id="swagger2Config"/>
    <mvc:resources location="classpath:/META-INF/resources/" mapping="swagger-ui.html"/>
    <mvc:resources location="classpath:/META-INF/resources/webjars/" mapping="/webjars/**"/>-->
    <bean id="alipayConfig" class="com.alipay.config.AlipayConfig"></bean>

</beans>