<!doctype html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<title>大明寺紫砂文化馆</title>
<link rel="stylesheet" href="/static/common/com[0].css">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_592768_b157cpj0a517zaor.css">
<link rel="stylesheet" href="/static/common/com[1].css">
<script type="text/javascript" src="/static/javascript/jquery-1.11.3.min.js"></script>
</head>

<body>
<section class="main">
	<div style="padding-top: 20px;">
		<img src="/static/images/t.png" style="margin: 0 auto">
	</div>
	<a href="/customer/search.html">查看我的排行榜</a>
	<div class="pl30 pr30">
		<div class="op mt20">
			<div class="pb30">
				<table class="rank" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<th>序位</th>
						<th>功德时间</th>
						<th>功德姓名</th>
						<th>功德金额</th>
					</tr>
					<%for(item in orders){%>
					<tr>
						<td>${item.rank,numberFormat="000"}</td>
						<td>${item.created,'yyyy年MM月dd日'}</td>
						<td>${item.hoper}</td>
						<td>${item.money /100, numberFormat="##.##"}元</td>
					</tr>
					<%}%>
				</table>
			</div>
		</div>
	</div>
</section>
	
	
<script>
function onBridgeReady() {  
	WeixinJSBridge.call('hideOptionMenu');  
}  

if (typeof WeixinJSBridge == "undefined") {  
	if (document.addEventListener) {  
		document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);  
	} else if (document.attachEvent) {  
		document.attachEvent('WeixinJSBridgeReady', onBridgeReady);  
		document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);  
	}  
} else {  
	onBridgeReady();  
} 
</script>
</body>
</html>
