<!doctype html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<title>大明寺御花园茶楼</title>
<link rel="stylesheet" href="/static/common/com[0].css">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_592768_b157cpj0a517zaor.css">
<link rel="stylesheet" href="/static/common/com[1].css">
<script type="text/javascript" src="/static/javascript/jquery-1.11.3.min.js"></script>
</head>

<body>
<section class="main default bgNone">
	<img class="defaultBg" src="/static/images/n1-1.png">
	<div class="defaultInfo">
		<h1>大明寺筹建戒坛缘起</h1>
		<p>大明寺始建于南朝宋孝武帝大明年间，故称大明寺。天宝元年间高僧鉴真于寺中讲律传戒。天宝元年（公元753年）东渡日本，传戒弘法，成为日本开山祖师。</p>
		<p>律宗或律学是以佛教经典《四分律》为准则并会通大乘教义而成的独立宗派，其创始人道宣（596-667），在终南山寺弘《四分律》并创立戒坛，制定佛教的授戒仪制，被称为“南山律宗”。鉴真正是授传于这一派大师道岸，弘景，并东传日本而开创日本律宗。由于历史的种种原因，战争、灾害、大明寺戒坛早已不复存在。鉴真第八十三世传人能修大和尚发心修建大明寺戒坛。</p>
		<p>建戒坛是对鉴真律学文化的传承，是对大明寺律宗第一大寺地位的体现，是对当今时代佛教能够长期健康发展下去有着重要的意义。</p>
		<h3>500元以上者刻功德芳名，流芳百世。</h3>
		<h2>佛佑护持，功德无量！</h2>
	</div>
	<div class="defaultBtn"><a class="btn" href="/wish.html"><span>祈福留功德</span></a></div>
</section>
<script>
function onBridgeReady() {  
	WeixinJSBridge.call('hideOptionMenu');  
}  

if (typeof WeixinJSBridge == "undefined") {  
	if (document.addEventListener) {  
		document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);  
	} else if (document.attachEvent) {  
		document.attachEvent('WeixinJSBridgeReady', onBridgeReady);  
		document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);  
	}  
} else {  
	onBridgeReady();  
} 
</script>
</body>
</html>
