<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<title>扬州大明寺</title>
	<link rel="stylesheet" href="/static/common/com[0].css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_592768_b157cpj0a517zaor.css">
	<link rel="stylesheet" href="/static/common/com[1].css">
	<script type="text/javascript" src="/static/javascript/jquery-1.11.3.min.js"></script>
</head>

<body>
<section class="header pt15 pb20 dn">
	<img class="logo" src="/static/images/header.png" />
</section>
<%include("banner.html"){}%>
<section class="main">

	<div class="p30">
		<!--<div class="tips ar pb20"><a><i class="iconfont icon-wenhao pr5"></i><span>祈福说明</span></a></div>-->
		<%for(wish in wishs){%>
		<div class="op">
			<h1 class="title ac"><i class="iconfont icon-yunLeft"></i><span class="pl10 pr10">祈福内容</span><i class="iconfont icon-yunRight"></i></h1>
			<div class="info">
				<p class="pt20 pb20">${wish.wish!}</p>
			</div>
		</div>
		<div class="op mt20">
			<h1 class="title ac" style="padding-bottom: 60px;"><i class="iconfont icon-yunLeft"></i><span class="pl10">祈愿人:</span><span class="pr10">${wish.hoper!}</span><i class="iconfont icon-yunRight"></i></h1>
		</div>
		<%}%>
		<div class="op mt20">
			<%/*<h1 class="title ac" style="padding-bottom: 60px;"><i class="iconfont icon-yunLeft"></i><span class="pl10">祈愿人:</span><span class="pr10">${wish.hoper}</span><i class="iconfont icon-yunRight"></i></h1>*/%>
			<p class="ac p10">祈，求福也。 福，佑之。</p>
			<p class="ac p10">祈福神佛，消除自己一切烦恼，<br>
				护佑自己考试成功、事业顺利。</p>
			<a class="button ac" href="/wish.html">去祈福</a>
		</div>
	</div>
</section>


<script>
	function onBridgeReady() {
		WeixinJSBridge.call('hideOptionMenu');
	}

	if (typeof WeixinJSBridge == "undefined") {
		if (document.addEventListener) {
			document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
		} else if (document.attachEvent) {
			document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
			document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
		}
	} else {
		onBridgeReady();
	}
</script>
</body>
</html>
