<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <title>大明寺紫砂文化馆</title>
    <link rel="stylesheet" href="/static/common/com[0].css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_592768_b157cpj0a517zaor.css">
    <link rel="stylesheet" href="/static/common/com[1].css">
    <script type="text/javascript" src="/static/javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/common/common.js"></script>
    <script type="text/javascript">
        var countdown=60;
        $(function(){
            $(".btn-search").click(function () {
                var phone = $("input[name=phone]").val();
                if (!phone) {
                    alert("请输入手机号码");
                    return;
                }
                phone = phone.replace(/ /g,"");
                phone = phone.replace(/-/g,"");
                $("input[name=phone]").val(phone);
//                if (!Common.Rules.mobile.test(phone)) {
//                    alert("请输入正确的手机号");
//                    return;
//                }
                var checkCode = $("input[name=checkCode]").val();
                if (!checkCode) {
                    alert("请输入验证码");
                    return;
                }
                Common.post("/customer/checkPhone", {phone: phone, code:checkCode}, function (json) {
                    if (json.code == Common.SUCC) {
                        Common.go("/customer/rank.html");
                    } else {
                        alert(json.message);
                    }
                });
            });

            $(".btn-sms").click(function () {
                var phone = $("input[name=phone]").val();
                if (!phone) {
                    alert("请输入手机号码");
                    return;
                }
                phone = phone.replace(/ /g,"");
                phone = phone.replace(/-/g,"");
                $("input[name=phone]").val(phone);
//                if (!Common.Rules.mobile.test(phone)) {
//                    alert("请输入正确的手机号");
//                    return;
//                }
                var obj = $("#yzm");
                settime(obj);
                Common.post("/customer/sendSms", {phone: phone}, function (json) {
                    if (json.code == Common.SUCC) {
                    } else {
                        alert(json.message);
                    }
                });
            });
        });

        function settime(obj) { //发送验证码倒计时
            if (countdown == 0) {
                obj.attr('disabled',false);
                //obj.removeattr("disabled");
                obj.val("获取验证码");
                countdown = 60;
                return;
            } else {
                obj.attr('disabled',true);
                obj.val("重发(" + countdown + ")");
                countdown--;
            }
            setTimeout(function() {
                        settime(obj) }
                    ,1000)
        }
    </script>
</head>

<body>
<section class="main bgNone">
    <div class="header mt20">
        <img class="logo" src="/static/images/t.png">
    </div>
    <div class="pl30 pr30">
        <div class="op mt20">
            <h1 class="title ac fb"><span class="pl10">输入你的手机号：</span></h1>
            <div class="text mb15">
                <input class="ac" type="tel" name="phone" placeholder="你的手机号">
                <img class="p1" src="/static/images/opb1.png" />
                <img class="p2" src="/static/images/opb2.png" />
                <img class="p3" src="/static/images/opb3.png" />
                <img class="p4" src="/static/images/opb4.png" />
            </div>
            <div class="EC mb30">
                <div class="text col mr10">
                    <input class="ac" type="text" name="checkCode" placeholder="验证码">
                    <img class="p1" src="/static/images/opb1.png" />
                    <img class="p2" src="/static/images/opb2.png" />
                    <img class="p3" src="/static/images/opb3.png" />
                    <img class="p4" src="/static/images/opb4.png" />
                </div>
                <div>
                    <input id="yzm" type="button" class="button3 ac pl10 pr10 btn-sms" value="获取验证码" />
                </div>
            </div>
            <a class="button2 ac btn-search">查看你的功德榜</a>
        </div>
    </div>
    <div>
        <img src="/static/images/qf2.png" width="100%">
    </div>
</section>
<script>
    function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    }

    if (typeof WeixinJSBridge == "undefined") {
        if (document.addEventListener) {
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        } else if (document.attachEvent) {
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    } else {
        onBridgeReady();
    }
</script>
</body>
</html>
