<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<title>大明寺紫砂文化馆</title>
	<link rel="stylesheet" href="/static/common/com[0].css">
	<link rel="stylesheet" href="https://at.alicdn.com/t/font_592768_b157cpj0a517zaor.css">
	<link rel="stylesheet" href="/static/common/com[1].css">
	<script type="text/javascript" src="/static/javascript/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/javascript/jquery.form.js"></script>
    <script type="text/javascript" src="/static/common/common.js"></script>
</head>

<body>
<section class="header pt15 pb20">
	<img class="logo" src="/static/images/header.png" />
</section>
<section class="main">
	<form id="form-wish" action="doWish" method="post">
		<div class="p30">
			<div class="tips ar pb20"><a><i class="iconfont icon-wenhao pr5"></i><span>祈福说明</span></a></div>
			<div class="op">
				<h1 class="title ac"><i class="iconfont icon-yunLeft"></i><span class="pl10 pr10">祈福内容</span><i class="iconfont icon-yunRight"></i></h1>
				<div class="edit">
					<textarea class="pt20 pb20" name="wish"></textarea>
					<p class="ll">祝父母，生身健康生活幸福，永远快乐。</p>
					<img class="p1"src="/static/images/opb1.png" />
					<img class="p2"src="/static/images/opb2.png" />
					<img class="p3"src="/static/images/opb3.png" />
					<img class="p4"src="/static/images/opb4.png" />
				</div>
			</div>
			<div class="op mt20">
				<h1 class="title ac"><i class="iconfont icon-yunLeft"></i><span class="pl10">祈愿人</span><span class="pr10"></span><i class="iconfont icon-yunRight"></i></h1>
				<div class="text mb30">
					<input class="ac" type="text" placeholder="请输入祈愿人的名字" name="hoper">
					<img class="p1"src="/static/images/opb1.png" />
					<img class="p2"src="/static/images/opb2.png" />
					<img class="p3"src="/static/images/opb3.png" />
					<img class="p4"src="/static/images/opb4.png" />
				</div>

				<a class="button ac btn-send">送上祈福</a>
			</div>
			<div class="op mt20">
				<h2 class="title ac"><i class="iconfont icon-yunLeft"></i><span class="pl10 pr10">免责说明</span><i class="iconfont icon-yunRight"></i></h2>
			</div>
		</div>
	</form>
</section>
<script type="text/javascript">
	$(function(){
		Common.ajaxForm($("#form-wish"), null, function(json){
			if(json.code == Common.SUCC){
				Common.go("/wish/"+json.data+"/detail.html");
			}
		});

		var edit = $('.edit')
		var editLL = edit.find('.ll')
		var editTT = edit.find('textarea')
		editLL.click(function () {
			editLL.hide()
			editTT.focus()
		})
		editTT.focusout(function () {
			if ($.trim(editTT.val()) == "") {
				editLL.show()
			}

		});
		/**
		 *	送上祈福
		 */
		$(".btn-send").click(function () {
			var wish = $("textarea[name=wish]").val();
			var hoper = $("input[name=hoper]").val();
			if(!wish){
				alert("请输入祈福内容!")
				return
			}
			if(!hoper){
				alert("请输入祈愿人!")
				return
			}
			$("#form-wish").submit();
		});
	});
</script>
</body>
</html>
