<!doctype html>
<html lang="zh-cmn-Hans">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<title>大明寺御花园茶楼</title>
<link rel="stylesheet" href="common/com[0].css">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_592768_b157cpj0a517zaor.css">
<link rel="stylesheet" href="common/com[1].css">
<script type="text/javascript" src="javascript/jquery-1.11.3.min.js"></script>
</head>

<body>
<section class="main">
	<div style="padding-top: 20px;">
		<img src="images/t.png" style="margin: 0 auto">
	</div>
	<div class="pl30 pr30">
		<div class="op mt20">
			<h1 class="title ac"><i class="iconfont icon-yunLeft"></i><span class="pl10 pr10">我的最高排位</span><span class="num pr10">080</span><i class="iconfont icon-yunRight"></i></h1>
			<div>
				<table class="rank" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<td>008</td>
						<td>2018年3月12日</td>
						<td>大明寺</td>
						<td>10000元</td>
					</tr>
					<tr>
						<td>088</td>
						<td>2018年3月12日</td>
						<td>大明寺</td>
						<td>100元</td>
					</tr>
				</table>
			</div>
			<a class="button ac mt10 mb30" href="result_a.html">查看我的大明寺功德牌位</a>
			<div class="pb30">
				<table class="rank" width="100%" cellpadding="0" cellspacing="0">
					<tr>
						<th>序位</th>
						<th>功德时间</th>
						<th>功德姓名</th>
						<th>功德金额</th>
					</tr>
					<tr>
						<td>001</td>
						<td>2018年3月12日</td>
						<td>陈吴香</td>
						<td>10100元</td>
					</tr>
					<tr>
						<td>002</td>
						<td>2018年3月12日</td>
						<td>朱亮</td>
						<td>10100元</td>
					</tr>
					<tr>
						<td>003</td>
						<td>2018年3月12日</td>
						<td>申玲</td>
						<td>10100元</td>
					</tr>
					<tr>
						<td>004</td>
						<td>2018年3月12日</td>
						<td>杨崇伟</td>
						<td>10100元</td>
					</tr>
					<tr>
						<td>005</td>
						<td>2018年3月12日</td>
						<td>王泊松</td>
						<td>10100元</td>
					</tr>
					<tr>
						<td>006</td>
						<td>2018年3月12日</td>
						<td>陈德成</td>
						<td>10100元</td>
					</tr>
					<tr>
						<td>007</td>
						<td>2018年3月12日</td>
						<td>饶洁</td>
						<td>10100元</td>
					</tr>
					<tr>
						<td>008</td>
						<td>2018年3月12日</td>
						<td>承群</td>
						<td>10000元</td>
					</tr>
					<tr>
						<td>009</td>
						<td>2018年3月12日</td>
						<td>承群</td>
						<td>10000元</td>
					</tr>
					<tr>
						<td>010</td>
						<td>2018年3月12日</td>
						<td>陈吴香</td>
						<td>10000元</td>
					</tr>
					<tr>
						<td>011</td>
						<td>2018年3月12日</td>
						<td>黄海明</td>
						<td>10000元</td>
					</tr>
					<tr>
						<td>012</td>
						<td>2018年3月12日</td>
						<td>黄海明</td>
						<td>10000元</td>
					</tr>
					<tr>
						<td>013</td>
						<td>2018年3月12日</td>
						<td>黄海明</td>
						<td>10000元</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
	
	
<script>
function onBridgeReady() {  
	WeixinJSBridge.call('hideOptionMenu');  
}  

if (typeof WeixinJSBridge == "undefined") {  
	if (document.addEventListener) {  
		document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);  
	} else if (document.attachEvent) {  
		document.attachEvent('WeixinJSBridgeReady', onBridgeReady);  
		document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);  
	}  
} else {  
	onBridgeReady();  
} 
</script>
</body>
</html>
