<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <title>扬州大明寺微信服务号群发系统</title>
    <link rel="stylesheet" href="/static/common/admin/com[0].css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_592768_21pevblqumpr2j4i.css">
    <link rel="stylesheet" href="/static/common/admin/com[1].css">
    <script type="text/javascript" src="/static/javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/javascript/js[0].js"></script>
</head>
<body>
<div class="header">
    <div class="logo"><img src="/static/images/pic2.png" /></div>
</div>
<div class="bg"></div>
<div class="main">
    <!--<form >-->
    <span >${message!}</span>
        <form id="form-login" class="content" action="/admin/doLogin" method="post">
            <div class="row">
                <span>账号：</span>
                <input type="text" name="username" />
            </div>
            <div class="row">
                <span>密码：</span>
                <input type="password" name="password" />
            </div>
            <div class="row">
                <span>验证码：</span>
                <input type="text" name="passcode" />
                <img src="/verify/getcode?width=120&height=40"
                     onclick="this.src='/verify/getcode?width=120&height=40&'+Math.random()"  /> <!-- width="80" style="cursor: pointer;" height="32" -->
                <div class="row">
            </div>
                <a href="javascript:void(0);" class="btn-submit">登录后台</a>
            </div>
        <!--</form>-->
    </form>
</div>
<!--<div class="container">
    <div class="line">
        <div class="xs6 xm4 xs3-move xm4-move">

            <form class="sui-form form-horizontal sui-validate" action="/admin/doLogin" method="post">
                <div class="panel">
                    <div class="panel-head"><strong>
                        <span>登录后台管理系统</span></strong>
                    </div>
                    <div class="panel-body" >
                        <span >${message!}</span>

                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" class="input" name="username" placeholder="登录账号"
                                       data-validate="required:请填写账号,length#>=1:账号长度不符合要求"/>
                                <span class="icon icon-user"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="password" class="input" name="password" placeholder="登录密码"
                                       data-validate="required:请填写密码,length#>=1:密码长度不符合要求"/>
                                <span class="icon icon-key"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <input type="text" class="input" name="passcode" placeholder="填写右侧的验证码"
                                       data-validate="required:请填写右侧的验证码"/>
                                <img src="/verify/getcode?width=120&height=40" width="80" style="cursor: pointer;"
                                     onclick="this.src='/verify/getcode?width=120&height=40&'+Math.random()" height="32"
                                     class="passcode"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel-foot text-center">
                        <button class="button button-block bg-main text-big">立即登录后台</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>-->
</body>
<script type="text/javascript">
    $(function(){
        $(".btn-submit").click(function(){
            $("#form-login").submit();
        });
    });
</script>
</html>